[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
asyncio = "*"
python-dotenv = "*"
tensorflow-cpu = "*"
pillow = "*"
wget = "*"
typer = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
